.card {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((100% - 60px) / 3);

  border: 3px solid white;
  border-radius: var(--sp-s);
  padding: var(--sp-l);
}

.card__title {
  margin-bottom: 14px;
}

.card__description {
  margin-bottom: 40px;
  font-size: var(--sp-m);
}

.card__techs {
  display: flex;
  gap: 20px;
}

.card__techs-stacks {
  min-width: 100px;
  font-size: var(--sp-m);
}

.card__techs-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.card__techs-label {
  font-size: var(--sp-m);
  padding: 2px var(--sp-s);
  background-color: var(--green);
  border-radius: var(--sp-s);
  height: var(--sp-l);
  text-align: center;
}
