.header__switch-light {
  width: var(--sp-l);
  cursor: pointer;

  svg {
    vertical-align: middle;
  }

  svg path:hover {
    color: var(--yellow);
    transition: color 0.3s linear;
  }
}
